body::before {
    display: block;
    content: '';
    height: 60px;
}

.container-contact {
    width: 40%;
    padding-left: 200px;
}

@media (min-width: 768px) {
    .news-input {
        width: 50%;
    }
}